block variables
mixin dropdown(options={label:'dropdown',numberOfOptions:7,option:'Сколько гостей'})
  -let n=0
  .dropdown
    if options.label
      label.dropdown__label #{options.label}
        .dropdown__item
          select.dropdown__select
            option.dropdown__category #{options.option}
            while n<=options.numberOfOptions
              li=n++
              option.dropdown__option(value=n) #{n}
          img.arrow(src='assets/img/arrow.svg')
    else
      .dropdown__item
        select.dropdown__select
          option.dropdown__category #{options.option}
          while n<=options.numberOfOptions
            li=n++
            option.dropdown__option(value=n) #{n}
        img.arrow(src='assets/img/arrow.svg')







