mixin navbar(options)
  each el in options.arrayOfElements 
    if el.arrow==true
      .navbar__item
        span(class='navbar__text') #{el.name}
        span( class='navbar__arrow')
          img(class='arrow_class',src='assets/img/arrow.svg')
        if el.list
          .navbar__menu
            each val in el.list
              a(class='navbar__option') #{val}
    else 
      .navbar__item #{el.name}
mixin navigation(options)
  nav.navigation
    .navigation__content
      .navigation__logo
        include ../burger-menu/burger-menu.pug   
        img(class='logo-img',src=`assets/img/fsdlogo.svg`) 
      .navigation__interactive
        .navigation__navbar 
          .navigation__items
            +navbar({arrayOfElements:[{name:'О нас',arrow:false},
            {name:'Услуги',arrow:true,list:['hire','me']},
            {name:'Вакансии',arrow:false},
            {name:'Новости',arrow:false},
            {name:'Соглашения',arrow:true,list:['something','anything','whatever']}],arrow_class:'navigation__arrow'})
        
        if options.username
          .navigation__user 
            .navigation__username #{options.username}
        else
          .navigation__auth
            .button--hollow__wrapper(class='button-default2__wrapper--navigation')
              button(class='button--hollow') #{options.leftButtonLabel}
            button(class='pay-button pay-button--navigation') #{options.rightButtonLabel}
          
