mixin checkboxlist(label,array_of_arguments)
  .checkbox-details
    details
      summary #{label}
      .checkbox-group
        each val in array_of_arguments
          .checkbox__item
            label(class='checkbox',for=val) 
              span(class='checkbox__span') #{val}
              input(type='checkbox',name=val,id=val,class='checkbox__input')
              span(class='checkbox-custom')

+checkboxlist('дополнительные удобства',['Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь','Плед','Тумбочка']) 
