mixin defInput(options)
  div(class=options.nameofclass)
    label(class=`${options.nameofclass}__label`) #{options.label}
      input(class=options.nameofclass,type='text',placeholder=options.placeholder,class='input')
      if options.arrow 
        img(src='assets/img/arrow.svg',class='filter-date-dropdown__arrow')


      
+defInput({label:'masked text field',placeholder:'ДД.ММ.ГГГГ',nameofclass:'text-field'})