mixin radioButtons(options)
  .radio-buttons
    .radio-buttons__box
      each val in options.arrayOfArguments
        .radio-buttons__option
          input.radio-buttons__input(type='radio',name=options.name,value=val,id=val)
          span.radio-buttons__title(for=val) #{val}

