mixin toggle(options)
  .toggle-details 
    if options.label
      label.toggle__label #{options.label}
    .toggle-group
      each val in options.arrayOfArguments
        .toggle__item
          label.toggle(for=val) 
            span.toggle__text #{val}
            input.toggle__input(type='checkbox',name=val,id=val)
            span.toggle-custom
              span.toggle-custom__helper
              span.toggle-custom__helper2

