include ../burger-menu/burger-menu.pug   
include ../button/button.pug

mixin navbar(options={arrayOfElements:[{name:'О нас',arrow:false},{name:'Услуги',arrow:true,list:['hire','me']},{name:'Вакансии',arrow:false},{name:'Новости',arrow:false},{name:'Соглашения',arrow:true,list:['something','anything','whatever']}],arrow_class:'navigation__arrow'})
  .navbar
    each el in options.arrayOfElements 
      if el.arrow==true
        .navbar__item
          span.navbar__text #{el.name}
          span.navbar__arrow
            img.arrow(src='assets/img/arrow.svg')
          if el.list
            .navbar__menu
              each val in el.list
                a.navbar__option #{val}
      else 
        .navbar__item #{el.name}

mixin navigation(options={username:'Юлий Цезарь',leftButtonLabel:'Войти',rightButtonLabel:'Зарегестрироваться'})
  nav.navigation
    .navigation__content
      .navigation__logo
        +burgerMenu({arrayOfArguments:[{name:'О с',arrow:'false'},{name:'Услуги',arrow:'true'},{name:'Вакансии',arrow:'false'},{name:'Новости',arrow:'false'},{name:'Соглашения',arrow:'true'}]})
        img.logo(src=`assets/img/fsdlogo.svg`) 
      .navigation__interactive
        .navigation__navbar 
          .navigation__items
            +navbar({arrayOfElements:[{name:'О нас',arrow:false},
            {name:'Услуги',arrow:true,list:['hire','me']},
            {name:'Вакансии',arrow:false},
            {name:'Новости',arrow:false},
            {name:'Соглашения',arrow:true,list:['something','anything','whatever']}],arrow_class:'navigation__arrow'})
        
        if options.username
          .navigation__user 
            .navigation__username #{options.username}
        else
          .navigation__auth
   
            +button({modif:'hollow',text:options.leftButtonLabel})
            button.pay-button.pay-button--navigation #{options.rightButtonLabel}
          
