mixin toggle(label,array_of_arguments)
  .toggle-details #{label}
    .toggle-group
      each val in array_of_arguments
        .toggle__item
          label(class='toggle',for=val) #{val}
            input(type='checkbox',name=val,id=val,class='toggle__input')
            span(class='toggle-custom')
              span(class='toggle-custom__helper')
              span(class='toggle-custom__helper2')

