include ../svg-arrow-right/svg-arrow-right.pug
include ../subscription-text-field/subscription-text-field.pug
include ../link/link.pug
mixin footer({lists,specialElementPosition,socials})
  - n = 0
  footer.footer
    .footer__container
      .footer__top 
        .footer__list.footer__list--big
          .footer__logo
            img(src="assets/img/fsdlogo.svg",alt="company's logo")
          .footer__info 
            p.footer__review Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        each list in lists
          ul.footer__list
            li.footer__item.footer__item--section #{list.listTitle}
            each link in list.list
              li.footer__item(href=link['mock-address'],title=link.title,class=`footer__item--${link.modif}`)
                a #{link.text}
            if n===specialElementPosition  
              form.footer__form
                +subsTextField({modif:'in-footer',placeholder:'Email'})
          - n++
    .footer__bottom
      .footer__bottom-container
        p.footer__copyright 
          small Copyright © 2018 Toxin отель. Все права зачищены.
        ul.footer__socials
          each social in socials
            li.footer__social
              img(src=social.src,alt=social.alt,tabindex="0",href=social.href)

