include ../svg-arrow-right/svg-arrow-right.pug
include ../subscription-text-field/subscription-text-field.pug
include ../link/link.pug
mixin footer (options={specialElementPosition:3,lists:[{listTitle:'Навигация',list:[{text:'О нас','mock-address':'mock/mock/mock.com',title:'this link leads nowhere'},{text:'Новости','mock-address':'mock/mock.com',title:'this link leads nowhere'},{text:'Служба поддержки','mock-address':'mock/mock.com',title:'this link leads nowhere'},{text:'Услуги','mock-address':'mock/mock.com',title:'this link leads nowhere'}]},{listTitle:'О нас',list:[{text:'О сервисе','mock-address':'mock/mock/mock.com',title:'this link leads nowhere'},{text:'Наша команда','mock-address':'mock/mock.com',title:'this link leads nowhere'},{text:'Инвесторы','mock-address':'mock/mock.com',title:'this link leads nowhere'},{text:'Вакансии','mock-address':'mock/mock.com',title:'this link leads nowhere'}]},    {listTitle:'Служба поддержки',list:[{text:'Соглашения','mock-address':'mock/mock/mock.com',title:'this link leads nowhere'},{text:'Сообщества','mock-address':'mock/mock.com',title:'this link leads nowhere'},{text:'Связь с нами','mock-address':'mock/mock.com',title:'this link leads nowhere'}]},{listTitle:'Подписка',list:[{text:'Получайте специальные предложения и новости сервиса','mock-address':'mock/mock/mock.com',title:'this link leads nowhere'}]}]})
  - n = 0
  footer.footer
    .footer__container
      .footer__top 
        .footer__list.footer__list--big
          .footer__logo
            img(src='assets/img/fsdlogo.svg',alt="company's logo")
          .footer__info 
          p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        each list in options.lists
          .footer__list
            .footer__item.footer__item--section #{list.listTitle}
            each link in list.list
              a.footer__item(href=link['mock-address'],title=link.title,class=`footer__item--${link.modif}`) #{link.text}
            if n===options.specialElementPosition  
              +subsTextField({modif:'footer'})
          - n++
    .footer__bottom
      .footer__bottom-container
        .footer__copyright Copyright © 2018 Toxin отель. Все права зачищены.
        .footer__socials.socials
          .footer__social
            img(src='assets/img/twitter.svg',alt="twitter's logo",tabindex='0',href='mock/mock/mock.com')
          .footer__social
            img(src='assets/img/instagram.svg',alt="instagram's logo",tabindex='0',href='mock/mock/mock.com')
          .footer__social
            img(src='assets/img/facebook.svg',alt="facebook's logo",tabindex='0',href='mock/mock/mock.com')
