include ../date-picker/date-picker.pug
include ../dropdown-submit-and-clear/dropdown-submit-and-clear.pug
include ../pay-button/pay-button.pug
mixin bill({modif,roomNumber,isLux,perDay,numberOfDays,sale})
  .bill.js-bill(class=(modif ?`bill--${modif} js-bill--${modif}`: false))
    form.bill__content
      .bill__header
        .bill__lux-number
          span.bill__number
            span.bill__number-sign
              |№
            span.bill__room-number #{roomNumber}
            if isLux
              span.bill__isLux люкс
        .bill__room-price
          span.bill__price
            b #{perDay}Р
          span.bill__day  в сутки
      .bill__destination
        +datePicker({label:'Прибытие',placeholder:'19.08.2019',modif:'in-bill'})
        +datePicker({label:'Выезд',placeholder:'23.08.2019',modif:'in-bill'})  
      .bill__guests
        +dropdownSubmitAndClear({label:'Гости',list:['Взрослые','Дети','Младенцы'],option:'clear'})
      ul.bill__list
        li.bill__row 
          .bill__calculating-sum #{perDay}₽ х #{numberOfDays} суток
          .bill__money.bill__money--single 
            .bill__sum 39 960Р
        li.bill__row 
          .bill__calculating-sum Сбор за услуги: скидка #{sale}₽ 
          .bill__money
            .bill__info-icon i
            .bill__sum 0₽
        li.bill__row 
          .bill__calculating-sum Сбор за дополнительные услуги
          .bill__money
            .bill__info-icon i
            .bill__sum 300₽
        li.bill__all
          .bill__result Итого
          span.bill__money.bill__money--single 38 081₽
      .bill__footer
        +payButton({label:'Забронировать',arrow:true,type:'submit'}) 

