mixin svg__star(options)

	- id = (options.color+options.endColor).split('').reduce((prevHash, currVal) => (((prevHash << 5) - prevHash) + currVal.charCodeAt(0))|0, 0)
	- const fill = options.endColor!== undefined ?`url(#paint0_linear${id})`: options.color;

	svg(class=`${options.className} star` width="40" height="38" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg")
		path(fill=fill d="M10 13.4219L13.75 15.6719L12.7656 11.4062L16.0938 8.5L11.6875 8.125L10 4.09375L8.3125 8.125L3.90625 8.5L7.23438 11.4062L6.25 15.6719L10 13.4219ZM19.9844 7.23438L14.5469 11.9688L16.1875 19L10 15.25L3.8125 19L5.45312 11.9688L0.015625 7.23438L7.1875 6.625L10 0.015625L12.8125 6.625L19.9844 7.23438Z" )
		defs
			linearGradient(id=`paint0_linear${id}` x1="10" y1="-2" x2="10" y2="22" gradientUnits="userSpaceOnUse")
				stop(stop-color=options.color)
				stop(offset="1" stop-color=options.endColor)

mixin svg__star--active(options)

	- id = (options.color+options.endColor).split('').reduce((prevHash, currVal) => (((prevHash << 5) - prevHash) + currVal.charCodeAt(0))|0, 0)
	- const fill = options.endColor!== undefined ?`url(#paint0_linear${id})`: options.color;

	svg(class=`${options.className} star` width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg")
		path(fill=fill d="M10 15.25L3.8125 19L5.45312 11.9688L0.015625 7.23438L7.1875 6.625L10 0.015625L12.8125 6.625L19.9844 7.23438L14.5469 11.9688L16.1875 19L10 15.25Z")
		defs
			linearGradient(id="paint0_linear" x1="10" y1="-2" x2="10" y2="22" gradientUnits="userSpaceOnUse")
				stop(stop-color=options.color)
				stop(offset="1" stop-color=options.endColor)

mixin rate-button(active_stars)
		.rate__item
			.star__group 
				- var n=active_stars
				- var r=5-n
				while n>0
					.star__united(style={opacity:'1'})
						+svg__star--active({color:'#BC9CFF',endColor:'#8BA4F9',className:'star--active'})
						+svg__star({color:'#BC9CFF',endColor:'#8BA4F9',className:'star--inactive'})
					-n--
				while r>0
					.star__united(style={opacity:'.5'}) 
						+svg__star({color:'#BC9CFF',endColor:'#8BA4F9',className:'star--inactive'})
					-r--



block content
	+rate-button(5)




