mixin toggle(options={label:'toggle',list:['Получать спецпредложения','fish']})
  .toggle-details 
    if options.label
      label.toggle__label #{options.label}
    .toggle-group
      each val in options.list
        .toggle__item
          label.toggle(for=val) 
            span.toggle__text #{val}
            input.toggle__input(type='checkbox',name=val,id=val)
            span.toggle-custom
              span.toggle-custom__helper.toggle-custom__helper--passive
              span.toggle-custom__helper.toggle-custom__helper--active

