mixin checkboxButtons(options={label:'Правила дома',arrayOfArguments:['Можно курить','Можно с питомцами','Можно пригласить гостей (до 10 человек)']})
  .checkbox-buttons
    label.checkbox-buttons__label #{options.label}
    .checkbox-buttons__group
      each val in options.arrayOfArguments
        .checkbox-buttons__item
          label(class='checkbox-buttons__btn',for=val) 
            div(class='checkbox-buttons__text') #{val}
            input(class='checkbox-buttons__input',type='checkbox',name=val,id=val)
            span(class='checkbox-buttons__custom') 
            img(src='assets/img/ok.png' style={display:'none'})
